body {
	background-color: lightslategray;
}

.header h2 {
	color: white;
}

.header p {
	color:whitesmoke;
}

.results {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.movie-card {
	margin-bottom: 20px;
}